<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular Basics</title>
  <script type="text/javascript" src="vendors/angular.min.js"></script>
  <script type="text/javascript" src="scripts/client.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
</head>
<body>
  <main ng-app="SigmanautApp" ng-controller="SigmanautController">

    <section class="container">
      <div class="jumbotron">
        <h1>Sigmanaut's angular list</h1>
      </div>
      <h3>Add a new person</h3>
      <form class="col-md-12">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" class="form-control" ng-model="newPerson.firstName" placeholder="First Name"/>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" class="form-control" ng-model="newPerson.lastName" placeholder="Last Name"/>
        </div>
        <div class="form-group col-md-6">
          <label for="git_username">Git Username</label>
          <input type="text" name="git_username" class="form-control" ng-model="newPerson.git_username" placeholder="Git Username"/>
        </div>
        <div class="form-group col-md-6">
          <label for="shoutout">Shoutout</label>
          <input type="text" name="shoutout" class="form-control" ng-model="newPerson.shoutout" placeholder="Shout Out"/>
        </div>
        <div class="form-group col-md-12">
          <button class="btn btn-primary" ng-click="createPerson()">Add Person</button>
        </div>
      </form>
    </section>

    <section class="container">
      <h3>Class List</h3>
      <div class="form-group">
        <label for="filter">Search:</label>
        <input type="text" class="form-control" name="filter" value="" placeholder="Search" ng-model="query">
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="person in people | filter: {firstName, lastName:query}">
          <a ng-href="https://github.com/{{person.git_username}}" target="_blank">{{person.firstName}} {{person.lastName}}</a>
          - {{person.shoutout}}
        </li>
      </ul>
    </section>
  </main>
</body>
</html>
